* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video {
    position: fixed;
    top: 0;
}

.content {
    position: absolute;
    width: 100%;
    top: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
}

.head {
    background-color: black;
    color: white;
    padding: 15px;
}

.head-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
}

.icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5% 6%;
    background-color: rgba(255, 255, 255, 0.096);
    font-weight: 500;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #f5a425;
}

.para {
    padding: 100px 0px 0px 81px;
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
}

.paragraph > p {
    font-size: 15px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 20px;
    text-align: left;
}

button {
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    background-color: brown;
    border-color: #a53235;
    color: white;
    margin-bottom: 80px;
    text-decoration: none;
    border: none;
}

.templatemo {
    color: #34bbe8;
}

.templatemo:hover {
    color: #f5a425;
}

.box1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.aside1 {
    display: flex;
    background-color: white;
    width: 60px;
    height: 60px;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    margin-top: 130px;
    margin: 120px auto;
}

.flex-box1 {
    display: flex;
    background-color: #a53235;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 320px;
    padding: 10px;
    line-height: 50px;
    font-weight: 400;

}

.flex-box1 img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin-bottom: 15px;
}

.flex-box2 {
    display: flex;
    background-color: #a53235;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    width: 300px;
    height: 320px;
    padding: 10px;
    line-height: 50px;
    font-weight: 400;
}

.flex-box2 img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin-bottom: 15px;
}

.flex-box3 {
    display: flex;
    background-color: #a53235;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    width: 300px;
    height: 320px;
    padding: 10px;
    line-height: 50px;
    font-weight: 400;
}

.flex-box3 img {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    margin-bottom: 15px;
}

.imag {
    border: 3px solid #df8428;
    border-radius: 50px;
}

.heading {
    text-align: center;
    margin-top: 80px;
    border-bottom: 1px solid white;
    margin: 100px;
    line-height: 80px;
    color: white;
}

.meeting-section {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 100px;
    gap: 10px;
}

.meeting-left {
    color: black;
}

.meeting-box {
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meeting-box-content p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left ;
    margin-top: 25px;
}

.btn {
    margin-top: 40px;
}

.meeting-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.meeting-card {
    max-width: 400px;
}

.meeting-card .meeting-header {
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
    min-height: 200px;
    background-size: 100%;
}

.meeting-card .header-image-one {
    background-image: url('./images/meeting.jpg');
}

.meeting-card .header-image-two {
    background-image: url('./images/meeting11.jpg');
}

.meeting-card .header-image-three {
    background-image: url('./images/bok.jpg');
}

.meeting-card .header-image-four {
    background-image: url('./images/Book3.jpeg');
}

.meeting-card .meeting-body {
    background-color: white;
    color: black;
    padding: 5%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    gap: 20px;
    align-items: baseline;
}

.box-body1 {
    flex: 1;
}

.box-body1 h1 {
    font-size: 20px;
}

.box-body1 p {
    text-align: left;
    font-size: 20px;
}

.meeting-header>button {
    background-color: #e4e6e6;
    color: black;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}

.degree-section {
    display: flex;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0px auto;
    gap: 10px;
}

.apply-box {
    margin-right: 50px;
    flex: 1;
    border-radius: 15px;
}

.apply-box1 {
    padding: 40px 20px 10px 30px;
    background-color: rgba(255, 255, 255, 0.178);
    margin-bottom: 50px;
    height: 250px;
}

.apply-box2 {
    padding: 40px 20px 10px 30px;
    background-color: rgba(255, 255, 255, 0.178);
    margin-bottom: 50px;
    height:250px;
}
.apply-box1 h2{
    font-size: 20px;
}
.apply-box2 h2{
    font-size: 20px;
}

.apply-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.apply-content p{
    text-align: left;
    padding-top: 10px;
}
.btn1{
    padding-top: 50px;
}
.btn2{
    padding-top: 50px;
}
.btn2 button{
    background-color: #f5a425;
    border-color: #f5a425;
    text-decoration: none;

}

.about-box {
    background-color: white;
    color: black;
    padding: 50px;
    display: flex;
    border-radius: 15px;
}

.meeting-about {
    padding: 0px 0px 20px 0px;
    line-height: 120px;
}

.course-heading {
    margin-top: 80px;
    border-bottom: 1px solid white;
    margin: 100px;
    line-height: 80px;
    color: white;
}

.star-cards {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.star-card1 {
    background-color: white;
    color: black;
    height: 320px;
    width: 253px;
}

.card-img1 img {
    display: flex;
    width: 253px;
    height: 160px;
}

.star-img {
    display: flex;
    height: 30px;
    justify-content: space-around;
    margin-top: 40px;
    color: #a53235;
    font-weight: 800;
}

.star.content {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.star-card2 {
    background-color: white;
    color: black;
    height: 350px;
    width: 240px;
}

.card-img2 img {
    display: flex;
    height: 160px;
    width: 240px;
}

.star-img1 {
    display: flex;
    height: 30px;
    justify-content: space-around;
    margin-top: 40px;
    color: #a53235;
    font-weight: 800;
}

.star.content1 {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.star-card3 {
    background-color: white;
    color: black;
    height: 350px;
    width: 253px;
}

.card-img3 {
    display: flex;
    height: 160px;
}

.star-img2 {
    display: flex;
    height: 30px;
    justify-content: space-around;
    margin-top: 40px;
    color: #a53235;
    font-weight: 800;
}

.star.content2 {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.star-card4 {
    background-color: white;
    color: black;
    height: 320px;
    width: 253px;
}

.card-img4 img {
    display: flex;
    height: 160px;
    width: 253px;
}

.star-img {
    display: flex;
    height: 30px;
    justify-content: space-around;
    margin-top: 40px;
    color: #a53235;
    font-weight: 800;
}

.star.content,
p {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.head-uni {
    margin-left: 143px;
    margin-top: 80px;
    font-size: 20px;
    flex-wrap: wrap;
}

.about-uni {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    margin-bottom: 100px;
    gap: 10px;
}

.uni-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
}

.uni-card {
    background-color: rgba(255, 255, 255, 0.356);
    height: 150px;
    width: 240px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uni-card1 {
    background-color: rgba(255, 255, 255, 0.356);
    height: 150px;
    width: 240px;
    margin-top: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uni-card,
.uni-card1>p {
    font-size: 20px;
}

.uni-card1>h2 {
    color: #f5a425;
}

.uni-video {
    flex: 1;
}

.login-form {
    display: flex;
    max-width: 1200px;
    margin: 0px auto;
    margin-right: 25px;
    gap: 20px;
}

.left-login {
    background-color: white;
    color: black;
    height: 480px;
    width: 800px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 15px;
    padding: 40px;
}

.login-get {
    margin-bottom: 80px;
    border-bottom: 1px solid #00000050;
    padding-bottom: 20px;
}
.login-box input{
    background-color: #e0d3d393;
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 236px;
    padding-left: 20px;
}
textarea{
    background-color: #e0d3d393;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    height: 150px;
    width: 715px;
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(11, 11, 22, 0.719);
}
.login-btn{
    padding-top: 30px;
}

.right-login {
    background-color: #a53235;
    height: 540px;
    width: 250px;
    margin-bottom: 40px;
    border-radius: 15px;
    padding: 40px;
}

.login-add {
    border-bottom: 1px solid #dee4e344;
    line-height: 50px;
}

.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.37);
    font-size: 13px;
    margin-bottom: 50px;
    margin-top: 50px;
    line-height: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}